/bin
/target
*.component
*.prefs
*.component
*.classpath
.classpath
/.settings
.metadata
.project
/WebContent
/build
src/main/webapp/css/perceptool.css
src/main/webapp/css/lib/bootstrap.css
src/main/webapp/css/lib/font-awesome-4.0.3/font-awesome.css
src/main/webapp/css/lib/font-awesome.css
src/main/webapp/css/lib/bootstrap/bootstrap.css
src/main/webapp/css/lib/font-awesome/font-awesome.css
/build/
/target
src/test/resources/liquibase/changelogs/
src/main/webapp/css/perceptool.css.map
src/main/webapp/css/perceptool.css.map
mydb.lck
mydb.properties
mydb.script
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
